@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: #eae9e7;
  --dark: #201e1f;
  --primary: #78933d;
}

.accent {
  color: var(--primary);
}

@keyframes noSignalFlicker {
  0%,
  100% {
    background-position: 0 0;
  }
  5% {
    background-position: 5% -10%;
  }
  10% {
    background-position: -10% 15%;
  }
  15% {
    background-position: 20% -20%;
  }
  25% {
    background-position: -20% 10%;
  }
  30% {
    background-position: 10% 20%;
  }
  40% {
    background-position: -15% -15%;
  }
  50% {
    background-position: 15% 15%;
  }
  60% {
    background-position: 0 -25%;
  }
  70% {
    background-position: -25% 0;
  }
  75% {
    background-position: 25% 5%;
  }
  80% {
    background-position: -5% -20%;
  }
  85% {
    background-position: 20% -5%;
  }
  90% {
    background-position: -20% 20%;
  }
  95% {
    background-position: 5% -5%;
  }
}

.flick::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/noiseEffect.svg");
  animation: noSignalFlicker 1s infinite;
  opacity: 0.5;
  pointer-events: none;
}

.flick {
  position: relative;
  overflow: hidden;
  width: auto; /* Adjust this as necessary */
  height: auto; /* Adjust based on content, or set a specific height */
}

.animated-underline {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.animated-underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  background-color: var(--dark);
  transition: width 0.3s ease, left 0.3s ease;
}

.animated-underline:hover::after {
  width: 100%;
  left: 0;
}

@layer base {
  .font-outline {
    -webkit-text-stroke: 0.01em var(--dark);
    color: transparent;
    font-size: 100px;
  }
}

body {
  font-size: 18px;
}

h1 {
  font-size: 80px;
  line-height: 1;
  font-weight: bold;
}

h2 {
  font-size: 60px;
  line-height: 1;
  font-weight: bold;
}

h3 {
  font-size: 40px;
  font-weight: bold;
}

h4 {
  font-size: 30px;
  font-weight: 500;
}

@media (max-width: 799px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
  }

  h2 {
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
  }

  h4 {
    font-size: 20px;
    font-weight: 500;
  }
}
